:root{
	/* Color Theme */
	--backgroundColor: #E2E2E2;
	--foreGround: white;
	--dockColor: #908F8F;
	--mainTextColor: #707070;
	--secondaryTextColor: rgba(112, 112, 112, 0.32);
	--dockIconColor: white;
	
	--menuShadow: 0 3px 6px rgba(0, 0, 0, 0.16);
	--dockWidth: 55px;
}


*{
	box-sizing: border-box;
}

.App {
	width: 100vw;
	height: 100vh;
	color: var(--mainTextColor);
	background-color: var(--backgroundColor);
	font-size: 12pt;
	display: flex;
	padding: 0;
	margin: 0;
	overflow: hidden;
	transition-delay: 0.4s;
	transition: background-color 0.3s;
}

.dock{
	height: 100%;
	width: var(--dockWidth);
	background-color: var(--dockColor);
	color: var(--dockIconColor);
}

.dock button{
	background-color: transparent;
	width: 100%;
	outline: none !important;
	border: none;
	font-size: 40pt;
	color: white;
	
}

.notePad{
	background-color: var(--foreGround);
	height: 100%;
	position: absolute;
	right: 0;
	border-top-left-radius: 25px;
	border-bottom-left-radius: 25px;
	box-shadow: var(--menuShadow);
	transition: all 0.4s ease-out;
}