.notePad{
	background-color: var(--foreGround);
	height: 100%;
	position: absolute;
	right: 0;
	border-top-left-radius: 25px;
	border-bottom-left-radius: 25px;
	box-shadow: var(--menuShadow);
	transition: all 0.4s ease-out;
	z-index: 2;
}
